1. Create filename variable
2. Create variables (lists) for values and columns
2a. Open a file with filename
3. Create a loop which takes a one line of file, split it by proper delimiter and assign values to lists with values (or with columns if the line is first)

In [33]:
import numpy as np
import pandas as pd
filename = 'load.csv'
import pickle

In [9]:
data = []
cols = None
with open(filename) as f:
    for line in f.readlines():
        vals = line.replace('\n','').split(',')
        if cols is None:
            cols = vals
        else:
            data.append([float(x) for x in vals])

In [21]:
cols

['A', 'B', 'C', 'D', 'E']

In [17]:
d0 = pd.DataFrame(data = data, columns = cols)

In [23]:
d0.head()
d0.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [25]:
d1 = np.loadtxt(filename, skiprows=1, delimiter=',')
d1

In [28]:
d2 = np.genfromtxt(filename, names=True, delimiter=',')
d2['B'][:5]

array([21.4  , 21.95 , 22.454, 22.494, 21.654])

In [31]:
d3 = pd.read_csv(filename)
d3.head()

       A       B       C        D    E
0  1.276  21.400  63.957  216.204  528
1  1.002  21.950  61.697  204.484  514
2  1.114  22.454  63.522  205.608  514
3  1.133  22.494  61.590  206.565  501
4  0.845  21.654  63.729  201.289  532

In [35]:
filename = 'load_pickle.pickle'

with open(filename, 'rb') as f:
    d4 = pickle.load(f)
    
d4.dtypes
d4.head()

          A          B          C           D    E
0  1.276405  21.400157  63.957476  216.204466  528
1  1.002272  21.950088  61.697286  204.483906  514
2  1.114404  22.454274  63.522075  205.608375  514
3  1.133367  22.494079  61.589683  206.565339  501
4  0.844701  21.653619  63.728872  201.289175  532