In [1]:
import pandas as pd
import numpy as np
import pickle

filename = "load.csv"

In [6]:
cols = None
data = []

with open(filename) as f:
    for line in f.readlines():
        vals = line.replace("\n", "").split(",")
        if cols is None:
            cols = vals
        else:
            data.append([float(x) for x in vals])

In [12]:
d0 = pd.DataFrame(data, columns=cols)
d0.head()

       A       B       C        D      E
0  1.276  21.400  63.957  216.204  528.0
1  1.002  21.950  61.697  204.484  514.0
2  1.114  22.454  63.522  205.608  514.0
3  1.133  22.494  61.590  206.565  501.0
4  0.845  21.654  63.729  201.289  532.0

In [20]:
d1 = np.loadtxt(filename, skiprows=1, delimiter=",", dtype=None)
print(d1.dtype)
print(d1[:5, :2])

float64
[[ 1.276 21.4  ]
 [ 1.002 21.95 ]
 [ 1.114 22.454]
 [ 1.133 22.494]
 [ 0.845 21.654]]

In [23]:
d2 = np.genfromtxt(filename, names=True, delimiter=',', dtype=None)
d2.dtype

dtype([('A', '<f8'), ('B', '<f8'), ('C', '<f8'), ('D', '<f8'), ('E', '<i4')])

In [28]:
print(d2[:5])

[(1.276, 21.4  , 63.957, 216.204, 528)
 (1.002, 21.95 , 61.697, 204.484, 514)
 (1.114, 22.454, 63.522, 205.608, 514)
 (1.133, 22.494, 61.59 , 206.565, 501)
 (0.845, 21.654, 63.729, 201.289, 532)]

In [30]:
d3 = pd.read_csv(filename)
d3.head()

       A       B       C        D    E
0  1.276  21.400  63.957  216.204  528
1  1.002  21.950  61.697  204.484  514
2  1.114  22.454  63.522  205.608  514
3  1.133  22.494  61.590  206.565  501
4  0.845  21.654  63.729  201.289  532

In [31]:
with open('load_pickle.pickle', 'rb') as f:
    d4 = pickle.load(f)

d4.head()

          A          B          C           D    E
0  1.276405  21.400157  63.957476  216.204466  528
1  1.002272  21.950088  61.697286  204.483906  514
2  1.114404  22.454274  63.522075  205.608375  514
3  1.133367  22.494079  61.589683  206.565339  501
4  0.844701  21.653619  63.728872  201.289175  532