1. Create filename variable
2. Create variables (lists) for values and columns
2a. Open a file with filename
3. Create a loop which takes a one line of file, split it by proper delimiter and assign values to lists with values (or with columns if the line is first)

In [16]:
import numpy as np
import pandas as pd
filename = 'load.csv'

In [9]:
data = []
cols = None
with open(filename) as f:
    for line in f.readlines():
        vals = line.replace('\n','').split(',')
        if cols is None:
            cols = vals
        else:
            data.append([float(x) for x in vals])

In [20]:
data.dtypes()

AttributeError: 'list' object has no attribute 'dtypes'

In [17]:
d0 = pd.DataFrame(data = data, columns = cols)

In [18]:
d0.head()

       A       B       C        D      E
0  1.276  21.400  63.957  216.204  528.0
1  1.002  21.950  61.697  204.484  514.0
2  1.114  22.454  63.522  205.608  514.0
3  1.133  22.494  61.590  206.565  501.0
4  0.845  21.654  63.729  201.289  532.0